.container {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
  }
  
  .header {
    width: 100%;
    height: auto;
  }
  
  .header-image {
    width: 100%;
    height: 15cm;
  }
  
  .about-us {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .about-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .about-us-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .service {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-image {
    width: 100px;
    height: auto;
  }
  
  .btn {
    background-color: #271195;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .contact-us {
    background-color: #271195;
    color: white;
    padding: 20px;
  }
  
  .contact-us address {
    margin: 0;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icon:hover {
    text-decoration: underline;
  }
  